### service api event ###
apievent/target/
apievent/.mvn/wrapper/maven-wrapper.jar

### STS ###
apievent/.apt_generated
apievent/.classpath
apievent/.factorypath
apievent/.project
apievent/.settings
apievent/.springBeans
apievent/.sts4-cache

### service api event ###
eventnotifications/target/
eventnotifications/.mvn/wrapper/maven-wrapper.jar

### STS ###
eventnotifications/.apt_generated
eventnotifications/.classpath
eventnotifications/.factorypath
eventnotifications/.project
eventnotifications/.settings
eventnotifications/.springBeans
eventnotifications/.sts4-cache

### service api event ###
eventstats/target/
eventstats/.mvn/wrapper/maven-wrapper.jar

### STS ###
eventstats/.apt_generated
eventstats/.classpath
eventstats/.factorypath
eventstats/.project
eventstats/.settings
eventstats/.springBeans
eventstats/.sts4-cache



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### perso ###
apievent/logs/
.env
